body {
  font-family: Helvetica, Arial, sans-serif;

  --card-size: 350px;
}

section.main {
  width: 800px;
  margin: auto;
}

h2 {
  font-size: 14pt;
}

select,
textarea,
input[type=submit] {
  font-size: 14pt;
}

input[type=submit] {
  display: block;
}

label, input {
    display: block;
}

