body {
  font-family: Helvetica, Arial, sans-serif;
}

#compute-screen {
  border: 2px solid black;
  display: flex;
}

section.main {
  width: 800px;
  margin: auto;
}

h2 {
  font-size: 14pt;
}

select,
textarea,
input[type=submit] {
  font-size: 14pt;
}

input[type=submit] {
  display: block;
}

.hidden {
  display: none !important;
}
